body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.product-box {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px auto;
    max-width: 600px;
    padding: 20px;
}

.product-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

</style >