body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.contact-box {
    background-color: #808080;
    border: 1px solid #333;
    margin: 10px auto;
    max-width: 600px;
    padding: 20px;
}

.contact-info {
    font-size: 18px;
    margin: 20px 0;
}

.social-media {
    text-align: center;
}

.social-icon {
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}
